---
// import Features2 from '~/components/widgets/Features2.astro';
// import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
// import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
// import Content from '~/components/widgets/Content.astro';

// import avatars
import maria from '~/assets/images/staff/maria.jpg';
import made from '~/assets/images/staff/made.jpg';
import ganing from '~/assets/images/staff/ganing.jpg';
import wiba from '~/assets/images/staff/wiba.jpg';

const metadata = {
  title: '当機関について',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    image={{
      src: '~/assets/images/staff/lpk-hoshi-gakuen-bali.jpg',
      alt: 'Para Staff dan Siswa LPK Hoshi Gakuen Bali berfoto bersama',
    }}
  >
    <Fragment slot="title">
      プロフィール <br />
      <span class="text-accent dark:text-white highlight"> 星学園バリの送り出し機関</span>
    </Fragment>

    <Fragment slot="subtitle">
      帰国後は2022年まで送り出し機関の運営に携わりました。数年間送り出し機関を管理してきた経験をもとに、自分の送り出し機関を管理したいと思っています。<br
      />
       我々の手本である 素晴らしい国ので、日本とインドネシアとの橋渡しとなる、
      技能実習生の日本語に貢献するために、2022年に政府認可の送り出し機関として <span class="font-bold"
        >LPK HOSHI GAKUEN</span
      >
       BALIを設立しました。現在までに、様々な分野での技能実習生を送り出しをさせていただいております。
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="LPK星学園バリの概要"
    subtitle="日本への労働者派遣において、優れた質の高い職業訓練機関（LPK）となること。"
    stats={[
      { title: 'スタッフ数', amount: '4' },
      { title: '年から稼働', amount: '2022' },
      { title: '受講生の数', amount: '50+' },
      { title: 'コラボレーションパートナー', amount: '20+' },
    ]}
  />

  <div class="min-h-screen flex items-center justify-center px-4">
    <div class="max-w-4xl bg-white w-full rounded-lg shadow-xl">
      <div class="p-4 border-b">
        <h2 class="text-2xl">会社概要</h2>
      </div>
      <div>
        <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
          <p class="text-gray-600">社名</p>
          <p>LPK HOSHI GAKUEN BALI</p>
        </div>
        <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
          <p class="text-gray-600">設立</p>
          <p>2022年</p>
        </div>
        <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
          <p class="text-gray-600">所在地</p>
          <p>Jl. Raya Puri Gading, Ruko A1/02A Jimbaran, Kecamatan Kuta Selatan, Kabupaten Badung, Bali, Indonesia</p>
        </div>
        <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
          <p class="text-gray-600">代表者</p>
          <p>Ni Ketut Mariatika Dewi</p>
        </div>
        <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
          <p class="text-gray-600">事業案内</p>
          <ol role="list">
            <li>
              <span class="font-medium">1.</span> 外国人技能実習生送り出し機関:
              <ol class="ml-5" type="a">
                <li><span class="font-medium">a.</span> 技能実習生候補者の募集・選抜</li>
                <li><span class="font-medium">b.</span> 入国前教育（日本語・文化・マナー等）</li>
                <li><span class="font-medium">c.</span> 実習生の対応・手続き（健康診断・出国支援等）</li>
              </ol>
            </li>
            <li><span class="font-medium">2.</span> 日本滞在中の技能実習生のケア・実習中の対応</li>
            <li><span class="font-medium">3.</span> 帰国後技能実習生のスキルアップと就業支援</li>
          </ol>
        </div>
        <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
          <p class="text-gray-600">URL</p>
          <p><a href="https://hoshi-gakuen-bali.netlify.app/">https://hoshi-gakuen-bali.netlify.app/</a></p>
        </div>
        <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
          <p class="text-gray-600">Eメール</p>
          <p><a href=" mailto:infohoshigakuenbali@gmail.com ">infohoshigakuenbali@gmail.com</a></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Staff Section -->

  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
      <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
          <span class="text-accent">星学園バリ</span>のチーム
        </h2>
      </div>
      <div class="grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        <div class="text-center text-gray-500 dark:text-gray-400">
          <img class="mx-auto mb-4 w-36 h-36 rounded-lg" src={maria.src} alt="Maria Avatar" />
          <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <a href="#">マリア</a>
          </h3>
          <p>社長</p>
        </div>
        <div class="text-center text-gray-500 dark:text-gray-400">
          <img class="mx-auto mb-4 w-36 h-36 rounded-lg" src={made.src} alt="Made Avatar" />
          <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <a href="#">マデ</a>
          </h3>
          <p>次長</p>
        </div>
        <div class="text-center text-gray-500 dark:text-gray-400">
          <img class="mx-auto mb-4 w-36 h-36 rounded-lg" src={ganing.src} alt="Ganing Avatar" />
          <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <a href="#">ガニン</a>
          </h3>
          <p>教師</p>
        </div>
        <div class="text-center text-gray-500 dark:text-gray-400">
          <img class="mx-auto mb-4 w-36 h-36 rounded-lg" src={wiba.src} alt="Wiba Avatar" />
          <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <a href="#">ウィバ</a>
          </h3>
          <p>総務</p>
        </div>
      </div>
    </div>
  </section>
</Layout>
